<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Register</h2>
  <hr />
  <div class="inputGroup inputGroup1">
    <label for="username">Username *</label>
    <input type="text" [ngClass]="{
        'is-invalid':
          registerForm.get('username').errors &&
          registerForm.get('username').touched
      }"
      class="form-control" formControlName="username" placeholder="Username" />
    <div class="invalid-feedback">Username is required</div>
  </div>
  <div class="inputGroup inputGroup1">
    <label for="email">Email address *</label>
    <input type="text" [email]="true" [ngClass]="{
          'is-invalid':
            registerForm.get('email').errors &&
            registerForm.get('email').touched
        }"
      class="form-control" formControlName="email" placeholder="Email address" />
    <div class="invalid-feedback">Email address is required</div>
  </div>
  <div class="inputGroup inputGroup1">
    <label for="password">Password *</label>
    <input type="password" [ngClass]="{
        'is-invalid':
          registerForm.get('password').errors &&
          registerForm.get('password').touched
      }"
      class="form-control" formControlName="password" placeholder="Password" />
    <div class="invalid-feedback" *ngIf="
        registerForm.get('password').hasError('required') &&
        registerForm.get('password').touched
      ">
      Password is required
    </div>
    <div class="invalid-feedback" *ngIf="
    registerForm.get('password').hasError('minlength') &&
    registerForm.get('password').touched
  ">
      Password must be at least 4 character
    </div>
    <div class="invalid-feedback" *ngIf="
    registerForm.get('password').hasError('maxlength') &&
    registerForm.get('password').touched
  ">
      Password cannot exceed 8 character
    </div>
  </div>
  <div class="inputGroup inputGroup1">
    <label for="password">Confirm Password *</label>
    <input type="password" [ngClass]="{
      'is-invalid':
        (registerForm.get('confirmPassword').errors &&
          registerForm.get('confirmPassword').touched) ||
        registerForm.get('confirmPassword').touched &&
          registerForm.hasError('mismatch')
    }"
      class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" />
    <div class="invalid-feedback" *ngIf="
      registerForm.get('confirmPassword').hasError('required') &&
      registerForm.get('confirmPassword').touched
    ">
      Confirm Password is required
    </div>
    <div class="invalid-feedback" *ngIf="
      registerForm.hasError('mismatch') &&
      registerForm.get('confirmPassword').touched
    ">
      Password must match
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="inputGroup inputGroup3">
        <button type="submit">Register</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <label class="create-account-callout mt-3">
        Have an account?
        <a [routerLink]="['/login']">
          Login
        </a>
      </label>
    </div>
  </div>

</form>